.habilidades__titulo{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 1rem 0;
}
.habilidades__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
}
.habilidades__item{
    background-color: #FFF; 
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
}
.habilidades__item-contenedor{
    margin-left: 1rem; 
    align-items: end;
}
.habilidades__imagen{
    padding-bottom: .5rem;
}
.habilidades__texto{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.habilidades__imagen--cisco{
    width: 40px;
}
@media screen and (min-width:0) {
    .habilidades__item{
        width: calc((100% - 5%)/2);
    }
}
@media screen and (min-width:768px) {
    .habilidades__item{
        width: calc((100% - 5%)/3);
    }
}
@media screen and (min-width: 1440px) {
    .habilidades__lista{
        margin-bottom: 0;
    }
    .habilidades__item{
        width: 176px;
        height: 174px;
        margin: 1rem;
    }
}