.rodapie{
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    
}
.rodapie__descripcion .rodapie__anio{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
}
@media screen and (max-width:375px) {

}